.main-container-home {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4B4C5A;
	background-image: url(/src/assets/bg-home.jpg);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
	
.items-container-home {
	width: 50vw;
	padding: 50px 36px;
	background-color: rgba(255,255,255, 1);
	border-radius: 10px;
}

.button-memotest {
	font-family: 'TT Norms Pro', sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  padding: 16px;
  text-transform: uppercase;
	/* background: rgb(34,143,195);
	background: linear-gradient(180deg, rgba(34,143,195,1) 0%, rgba(0,212,167,1) 100%); */
	background: linear-gradient(#ec098c,#f55a86);
  border-style: none;
  outline-style: none;
  border-radius: 8px;
  transition: .3s cubic-bezier(.175,.885,.32,2);
}

.button-memotest:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.button-quiz {
	font-family: 'TT Norms Pro', sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  padding: 16px;
  text-transform: uppercase;
	background: rgb(150,115,255);
	background: linear-gradient(180deg, rgba(150,115,255,1) 0%, rgba(244,134,255,1) 100%);
  border-style: none;
  outline-style: none;
  border-radius: 8px;
  transition: .3s cubic-bezier(.175,.885,.32,2);
}

.button-quiz:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.button-fastwords {
	font-family: 'TT Norms Pro', sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  padding: 16px;
  text-transform: uppercase;
	background: rgb(0,196,228);
	background: linear-gradient(180deg, rgba(0,196,228,1) 0%, rgba(32,175,255,1) 100%);
  border-style: none;
  outline-style: none;
  border-radius: 8px;
  transition: .3s cubic-bezier(.175,.885,.32,2);
}

.button-fastwords:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.title-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.title-home {
	color: #000;
	font-size: 32px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
	
.title-sub-home {
	color: #000;
	font-size: 16px;
	letter-spacing: 1px;
}


@media only screen and (max-width: 1180px) {
  .items-container-home {
    width: 80vw;
  }
}

@media only screen and (max-width: 700px) {
  .main-container-home {
    padding: 0px;
  }

  .items-container-home {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255, 0.7);
  }

  .items-home {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .button-home {
    height: 150px;
  }

  .title-home {
    font-size: 38px;
  }
}

@media only screen and (max-width: 400px) {
  .main-container-home {
    height: auto;
  }

  .items-container-home {
    width: 100%;
    min-height: 900px;
    border-radius: 0px;
  }
}