:root {
  font-family: 'ResoluteNFW01-Regular', sans-serif;
                                                
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  /* -webkit-text-stroke: 1px black; */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
}

main {
  padding: 1rem;
}